/* * {box-sizing: border-box;} */

label[for="email"]::before { 
    display:inline-block;
    text-rendering: auto;
    content:"\40";
    font-size: 40px;
    font-family: "fontawesome";
    padding: 20px;
    color: #ffffff;
    padding: 5px;
}

input[type="password"],input[type="email"] {
    border: 0;
    background:transparent;
    font-size:1em;
    color:white;
    font-weight: bold;
    padding: 10px;
    padding-right: 50px;
    position: relative;
    } 

label[for="password"]::before { 
    display:inline-block;
    text-rendering: auto;
    content:"\f023";
    font-size: 40px;
    font-family: "fontawesome";
    padding: 20px;
    color: #ffffff;
    padding: 5px;
    height: 30px;
}



form {
width: 40%;
height: 600px;
position: relative;
left: 30%;
top: 100px;
display: inline-block;}


.container {
   
    display:inline-block;
    position: relative;
    width: 50%;
    left: 25%;
    top: 200px;
    height: 280px;
    
}


.correo #linea {
    width: 96%;
    display: inline-block;
    border-bottom: 1px solid #00fbd1;
    position:relative;
    left: 2%;
    top: 140px;}

.password #linea2 {
        width: 96%;
        display: inline-block;
        border-bottom: 1px solid #00fbd1;
        position:relative;
        left: 2%;
        top: 63px;}
    

  

::placeholder {
    font-size:1em;
    color: white;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
            
     }

h1 {
        font-family: sans-serif;
        display: inline-block;
        position: relative;
        left: 150px;
        width: 300px;
        color: white;}

   

     
footer {
    display:inline-block;
    position: relative;
    width: 50%;
    left: 25%;
    top: 210px;
    height:40px;
    text-align: center;
    
}

.title1 {display: block;}

#linea3 { 
    width: 96%;
    display: inline-block;
    border-bottom: 4px solid #00fbd1;
    position:relative;
    left: 2%;
    top: 90px;}

    
button {
        background-color: rgba(255,255,255,0);
        border-radius: 7px;
        border: 2px solid #00fbd1;
        width: 100%;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        color: white;
        font-family: sans-serif;
      }

body {
    background-image:linear-gradient(to bottom, rgba(16, 43, 194, 0.52), rgba(117, 19, 93, 0.73)),
    url("./img/allyssa-olaivar-C_dSxETlS_4-unsplash.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;}
    